<html>
  <head>
    <title>About Project</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <div class="topnav">
      <a href="/home">Home</a>
      <a href="/chart">Chart</a>
      <a class="active" href="/aboutProject">About the Project</a>
      <!-- <a href="/aboutCrypto">About Crypto</a> -->
      <a href="/">Sign Out</a>
    </div>

    <section class="section">
      <h1 class="title">Concepts Used</h1>
      <h2 class="subtitle">
        <a
          href="https://github.com/binance/binance-spot-api-docs/blob/master/web-socket-streams.md"
          >Binance Websocket</a
        >
      </h2>
      <h2 class="subtitle">
        <a
          href="https://github.com/binance/binance-spot-api-docs/blob/master/rest-api.md"
          >Binance API</a
        >
      </h2>
      <h2 class="subtitle">
        <a href="https://www.youtube.com/watch?v=AQDCe585Lnc"
          >Public / Private Keys</a
        >
      </h2>
      <h2 class="subtitle">
        <a href="https://developers.google.com/identity/protocols/oauth2"
          >Google OAuth</a
        >
      </h2>
      <h2 class="subtitle">Cryptocurrency</h2>
      <h2 class="subtitle">
        <a href="https://github.com/tradingview/lightweight-charts"
          >TradingView Lightweight Charts</a
        >
      </h2>
      <h2 class="subtitle">Autocompletion</h2>
    </section>
  </body>
</html>
