<html>

<head>
    <title>{{title}}</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>

<body>

    <h2>{{title}}</h2>

    <h3>Cardano / USDT</h3>
    <div id="chart"></div>
    <div id="klines"></div>

    <h3>Settings</h3>

    <div id="settings">
        <input type="checkbox" />RSI
        <input type="text" id="rsi_length" name="rsi_length" placeholder="14" />
        Overbought <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" />
        Oversold <input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30" />
    </div>


    <script src="{{ url_for('static', filename='ADAchart.js')}}"></script>


</body>

</html>