<html>

<head>
    <title>{{title}}</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/chart">Chart</a>
        <a href="/aboutProject">About the Project</a>
        <a href="/aboutCrypto">About Crypto</a>
    </div>

    <h2>{{title}}</h2>
    <h3>{{symbol}} / USDT</h3>
    <div id="chart"></div>
    <div id="klines"></div>

    <script src="{{ url_for('static', filename='BTCchart.js')}}"></script>


</body>

</html>