<html>

<head>
    <title>{{title}}</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/chart">Chart</a>
        <a href="/aboutProject">About the Project</a>
        <a href="/aboutCrypto">About Crypto</a>
    </div>

    <h1 class="title">{{title}}</h1>

    <!-- <div class="topnav">
        <form action="/">
            <button type="submit" name="home" value="home" class="button-is-primary">Home</button>
        </form>

        <form action="/chart" method="post" symbol="ETH">
            <button type="submit" name="chart" value="chart">Chart</button>
        </form>

        <form action="/aboutProject">
            <button type="submit" name="aboutProject" value="aboutProject" class="button-is-primary">About
                Project</button>
        </form>

        <form action="/aboutCrypto">
            <button type="submit" name="aboutCrypto" value="aboutCrypto" class="button-is-primary">About Crypto</button>
        </form>

        <form action="/login">
            <button type="submit" name="login" value="login" class="button-is-primary">Sign In</button>
        </form>

    </div> -->


    <div>
        <div id="chart"></div>
        <div id="klines"></div>
    </div>

    <script src="{{ url_for('static', filename='ETHchart.js')}}"></script>
</body>

</html>